#nav {
flex-direction: column;
}
#nav ul li a {
    font-size: 2rem;
    padding:0% 7px;
}
#home{
height: 270px;
flex-direction: column;
padding: 10px 20px;
}
#home p{
    font-size: 1rem;
}
#home::before{
    height: 400px;
}

#services{
    flex-direction: column;
}
#services .box{
    margin: 1px 68px;
    
}

#clients {
    overflow: hidden;
    /* flex-direction: column; */
}

.h1 {
    font-size: 30px;
}