#nav {
flex-direction: column;
}
#nav ul li a {
    font-size: 1rem;
    padding:0% 7px;
}
#home{
height: 270px;
flex-direction: column;
padding: 10px 20px;
}
#home p{
    font-size: 1rem;
}
#home::before{
    height: 400px;
}

#services{
    flex-direction: column;
    margin: 0%;
}
#services .box{
    margin: 1px 68px;
    
}

#clients {
    /* overflow: hidden; */
    flex-wrap: wrap;
    
}
#clients img{
    /* overflow: hidden; */
    flex-wrap: wrap;
    width: 70px;
    padding: 30px;
    
}

.h1 {
    font-size: 30px;
}

.btn {
    font-size: 13px;
    padding: 4px;
}